@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.class-list {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.class-card {
  flex: 1;
  min-width: 280px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}
.class-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
.class-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 15px;
}
.class-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #444;
}
.class-card p {
  font-size: 14px;
  color: #555;
  text-align: justify;
}
.membership-section {
    text-align: center;
    padding: 40px 20px;
}
.cards-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.card {
  background: rgba(255,255,255,0.9);
  color: black;
  border-radius: 15px;
  padding: 25px;
  width: 300px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  position: relative;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
}
.card h3 { margin: 0 0 10px; font-size: 1.4rem; }
.card p { margin: 5px 0; font-size: 1rem; color: #333; text-align: center;}
.card .price { font-size: 1.7rem; font-weight: bold; margin: 20px 0; }
.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #444;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.3s;
}
.btn:hover { background: #222; }
.tag {
  position: absolute;
  top: -12px;
  right: -12px;
  background: black;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
}